.conteiner{
    background-color: blue;
    display: grid;
    height: 780px;
    width: 1230px;
    padding-left: 5px;
    margin-left: 40px;
    grid-template-areas: "div1 div8 div8 div8 div8 div2"
                         "div3 div8 div8 div8 div8 div4"
                         "div5 div8 div8 div8 div8 div6"
                         "div7 div8 div8 div8 div8 div9"
                         "div10 div11 div12 div13 div14 div15";
grid-template-rows: 140px 140px 140px 140px 140px;
grid-template-columns: 200px 200px 200px 200px 200px 200px;
gap: 5px;

}

.div1{
    text-align: center;
    background-color: aquamarine;
    padding-top: 10px;
    grid-area:div1;
    font-size: 35px;
}
.div2{
    text-align: center;
    background-color: aquamarine;
    padding-top: 10px;
    grid-area:div2;
    font-size: 35px;
}
.div3{
    text-align: center;
    background-color: aquamarine;
    padding-top: 10px;
    grid-area:div3;
    font-size: 35px;
}
.div4{
    text-align: center;
    background-color: aquamarine;
    padding-top: 10px;
    grid-area:div4;
    font-size: 35px;
}

.div5{
    text-align: center;
    background-color: aquamarine;
    padding-top: 10px;
    grid-area:div5;
    font-size: 35px;
}
.div6{
    text-align: center;
    background-color: aquamarine;
    padding-top: 10px;
    grid-area:div6;
    font-size: 35px;
}
.div7{
    text-align: center;
    background-color: aquamarine;
    padding-top: 10px;
    grid-area:div7;
    font-size: 35px;
}
.div8{
    text-align: center;
    background-color: white;
    padding-top: 10px;
    grid-area:div8;
    font-size: 35px;
}
.div9{
    text-align: center;
    background-color: aquamarine;
    padding-top: 10px;
    grid-area:div9;
    font-size: 35px;
}
.div10{
    text-align: center;
    background-color: aquamarine;
    padding-top: 10px;
    grid-area:div10;
    font-size: 35px;
}
.div11{
    text-align: center;
    background-color: aquamarine;
    padding-top: 10px;
    grid-area:div11;
    font-size: 35px;
}
.div12{
    text-align: center;
    background-color: aquamarine;
    padding-top: 10px;
    grid-area:div12;
    font-size: 35px;
}
.div13{
    text-align: center;
    background-color: aquamarine;
    padding-top: 10px;
    grid-area:div13;
    font-size: 35px;
}
.div14{
    text-align: center;
    background-color: aquamarine;
    padding-top: 10px;
    grid-area:div14;
    font-size: 35px;
}
.div15{
    text-align: center;
    background-color: aquamarine;
    padding-top: 10px;
    grid-area:div15;
    font-size: 35px;
}